<% content_for :title, "Editing referencia fipe" %>

<h1>Editing referencia fipe</h1>

<%= render "form", referencia_fipe: @referencia_fipe %>

<br>

<div>
  <%= link_to "Show this referencia fipe", @referencia_fipe %> |
  <%= link_to "Back to referencia fipes", referencia_fipes_path %>
</div>
