<% content_for :title, "New referencia fipe" %>

<h1>New referencia fipe</h1>

<%= render "form", referencia_fipe: @referencia_fipe %>

<br>

<div>
  <%= link_to "Back to referencia fipes", referencia_fipes_path %>
</div>
