<% content_for :title, "Editing ano modelo" %>

<h1>Editing ano modelo</h1>

<%= render "form", ano_modelo: @ano_modelo %>

<br>

<div>
  <%= link_to "Show this ano modelo", @ano_modelo %> |
  <%= link_to "Back to ano modelos", ano_modelos_path %>
</div>
