<% content_for :title, "New preco veiculo" %>

<h1>New preco veiculo</h1>

<%= render "form", preco_veiculo: @preco_veiculo %>

<br>

<div>
  <%= link_to "Back to preco veiculos", preco_veiculos_path %>
</div>
